@charset "UTF-8";
/* ***************** Général ******************* */
/* fonts */
/*colors*/
/* breakpoints */
/***** MIXINS *******/
/* box shadow styles */
/* police de form */
/* police de teaser */
/* position du boutton */
/* configuration de coeur */
/* ********** RESPONSIVE ********** */
/* ***** TABLETS ***** */
/* ***** DESKTOP ***** */
/* position du titre section functionning */
/* configuration bouton */
/* position carte restaurant responsive */
/* Taille footer responsive */
/* position liste footer responsive */
/* position des descriptifs menus*/
/* ******************** Animation Apparition progressive **************** */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shrikhand&display=swap");
@keyframes progressive_onset {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ********** Animation loader ********** */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes progressive_unset {
  99% {
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes heart_animation {
  0% {
    background: left bottom 0%/100% 0% no-repeat linear-gradient(171deg, #FF79DA 0%, #9356DC 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: left bottom 0%/100% 100% no-repeat linear-gradient(171deg, #FF79DA 0%, #9356DC 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto";
}
body img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
body a {
  text-decoration: none;
  color: black;
}
body li {
  list-style: none;
}

/* ******************* header *************** */
header {
  padding: 16px;
  position: relative;
  /* To show the boxshadow*/
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
header .logo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
header .logo img {
  object-fit: contain;
  width: 160px;
}
@media (min-width: 768px) and (max-width: 991px) {
  header .logo img {
    width: 250px;
  }
}
@media (min-width: 992px) {
  header .logo img {
    width: 280px;
  }
}

/* ********** Components ********** */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
  width: 60%;
  height: 50px;
  border-radius: 25px;
  background: #FF79DA;
  background: linear-gradient(171deg, #FF79DA 0%, #9356DC 100%);
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) and (max-width: 991px) {
  .button {
    width: 40%;
    font-size: 20px;
    font-weight: 600;
  }
}
@media (min-width: 992px) {
  .button {
    width: 40%;
    font-size: 20px;
    font-weight: 600;
    width: 30%;
  }
}
.button:hover {
  /* Au survol, la couleur de fond des boutons principaux devra légèrement s’éclaircir.
  L’ombre portée devra également être plus visible.*/
  background: linear-gradient(171deg, #ff93e1 0%, #a16be0 100%);
  box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  transition: 1s;
}

/* ***************** footer ************** */
footer {
  padding: 0;
  background: #353535;
  display: flex;
  flex-flow: row wrap;
}
footer .footer_container {
  margin: 10px;
  padding: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
  footer .footer_container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  footer .footer_container {
    width: 100%;
  }
}
footer h3 {
  font-family: "Shrikhand";
  font-weight: 100;
  margin: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  footer h3 {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  footer h3 {
    font-size: 30px;
  }
}
footer a:hover {
  color: #99E2D0;
}
footer ul {
  padding: 0;
  color: white;
}
@media (min-width: 768px) and (max-width: 991px) {
  footer ul {
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 992px) {
  footer ul {
    display: flex;
    justify-content: space-evenly;
  }
}
footer ul li:hover {
  color: #99E2D0;
}
footer a {
  color: white;
  line-height: 29px;
}
footer i {
  margin-right: 8px;
  width: 16px;
}
@media (min-width: 768px) and (max-width: 991px) {
  footer i {
    padding-right: 25px;
  }
}
@media (min-width: 992px) {
  footer i {
    font-size: 24px;
    padding-right: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  i {
    font-size: 26px;
  }
}
@media (min-width: 992px) {
  i {
    font-size: 28px;
  }
}

.thumbnail img {
  max-height: 260px;
}

section {
  background: #F6F6F6;
}
section .menu {
  border-radius: 40px 40px 0px 0px;
  padding: 0px 16px 0px 16px;
  background: #F6F6F6;
  position: relative;
  top: -55px;
}
section .menu .heart {
  font-size: 24px;
  margin-right: 25px;
  margin-top: 15px;
}
section .menu__title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}
section .menu__title h1 {
  font-family: "Shrikhand";
  font-size: 30px;
  font-weight: 500;
}
section .menu__title .heart {
  position: relative;
}
section .menu__title .heart .fa-heart::before {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
section .menu__title .heart .fa-heart:hover::after {
  content: "\f004";
  position: absolute;
  top: 2px;
  right: 1px;
  z-index: 0;
  font-size: 23px;
  font-weight: bold;
  background: left bottom 0%/100% 0% no-repeat linear-gradient(171deg, #FF79DA 0%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: heart_animation 500ms forwards;
}
@media (min-width: 768px) and (max-width: 991px) {
  section .menu__title .heart .fa-heart:hover::after {
    top: 1px;
    right: 1px;
  }
}
@media (min-width: 992px) {
  section .menu__title .heart .fa-heart:hover::after {
    top: 2px;
    right: 2.5px;
  }
}
section .menu .menu__body_section {
  margin-bottom: 48px;
  width: 100%;
}
section .menu .menu__body_section .menu_items__animation_1 {
  animation: progressive_onset 1s ease-in;
}
section .menu .menu__body_section .menu_items__animation_2 {
  animation: progressive_onset 2s ease-in;
}
section .menu .menu__body_section .menu_items__animation_3 {
  animation: progressive_onset 3s ease-in;
}
section .menu .menu__body_section ul {
  padding: 0;
}
section .menu .menu__body_section h2 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 19px;
  margin: 16px;
  margin-top: 0px;
  position: relative;
  max-width: 500px;
}
section .menu .menu__body_section h2::after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #99E2D0;
  padding-right: 40px;
  top: 22px;
  left: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  section .menu .menu__body_section ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}
@media (min-width: 992px) {
  section .menu .menu__body_section ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
}
section .menu .menu__body_section .menu_item {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  justify-content: space-between;
  overflow: hidden;
  margin: 24px auto;
  background: white;
  max-width: 500px;
  box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) and (max-width: 991px) {
  section .menu .menu__body_section .menu_item {
    width: 30%;
  }
}
@media (min-width: 992px) {
  section .menu .menu__body_section .menu_item {
    width: 30%;
  }
}
section .menu .menu__body_section .menu_item:hover {
  box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.3);
}
section .menu .menu__body_section .menu_item__title {
  padding: 11px 0px 11px 16px;
  width: 50%;
  flex-grow: 2;
  line-height: 1.5;
}
section .menu .menu__body_section .menu_item__title p, section .menu .menu__body_section .menu_item__title h3 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section .menu .menu__body_section .menu_item__button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: none;
}
section .menu .menu__body_section .menu_item__button p {
  padding: 0px 16px;
  align-self: end;
  font-weight: bold;
}
section .menu .menu__body_section .menu_item__button div {
  background-color: #99E2D0;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  font-size: 24px;
  max-width: 0px;
  transition: max-width 500ms ease-in-out;
}
section .menu .menu__body_section .menu_item__button div i {
  padding: 0 16px;
}
section .menu .menu__body_section .menu_item:hover .menu_item__button i {
  transform: rotate(1turn);
  transition: transform 500ms ease-in-out;
}
section .menu .menu__body_section .menu_item:hover .menu_item__button div {
  max-width: 150px;
}
section .menu .command_button {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
section .menu .command_button button {
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 991px) {
  section .menu .command_button button {
    font-size: 20px;
    font-weight: 600;
  }
}
@media (min-width: 992px) {
  section .menu .command_button button {
    font-size: 22px;
    font-weight: 600;
  }
}

/*# sourceMappingURL=menus.css.map */
