@charset "UTF-8";
/* Utils.(Variables.Fonctions.Mixins.Placeholders)
Feuilles de style de tiers (vendors) (si vous en avez).
Base.
Composants.
Layout.
Pages.
Thèmes.*/
/* fonts */
/*colors*/
/***** MIXINS *******/
/* box shadow styles */
/* police de form */
/* police de teaser */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto";
}

img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

header {
  padding: 16px;
  position: relative;
  /* To show the boxshadow*/
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
header .logo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
header .logo img {
  object-fit: contain;
  max-width: 161px;
  width: 161px;
}

form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: #EAEAEA;
}
form label {
  margin-left: 80px;
  color: #353535;
}
form p {
  margin-top: 0px;
  margin-bottom: 0px;
}
form input {
  font-size: 16px;
  color: #353535;
  font-weight: bold;
  padding: 16px;
  border: none;
  background: none;
  border: 2px solid transparent;
}
form ::placeholder {
  color: #353535;
}
form input:focus-visible, form input:focus, form input:hover {
  border-bottom: 2px solid #99E2D0;
  outline: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
  width: 50%;
  height: 50px;
  border-radius: 25px;
  background: #FF79DA;
  background: linear-gradient(171deg, #FF79DA 0%, #9356DC 100%);
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.15);
}
.button:hover {
  /* Au survol, la couleur de fond des boutons principaux devra légèrement s’éclaircir.
  L’ombre portée devra également être plus visible.*/
  background: linear-gradient(171deg, #ff93e1 0%, #a16be0 100%);
  box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.3);
}

#teaser {
  background: #F6F6F6;
  padding: 16px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
}
#teaser h1 {
  margin-right: 20%;
  margin-left: 20%;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}
#teaser p {
  margin-right: 15%;
  margin-left: 15%;
  text-align: center;
  font-size: 18px;
  margin-top: 0px;
  color: #575757;
}

.functioning {
  background-color: white;
}
.functioning h2 {
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 40px;
}
.functioning ul {
  padding-left: 0px;
  margin: 32px auto;
}
.functioning li {
  margin-left: 40px;
}
.functioning__instruction {
  display: flex;
  margin: 24px auto;
}
.functioning__instruction .number {
  padding: 4px 8px;
  background: #9356DC;
  border-radius: 50%;
  align-self: center;
  font-size: small;
  color: white;
  margin-right: -10px;
  z-index: 2;
}
.functioning__instruction div {
  padding: 14px;
  border-radius: 24px;
  background: #F6F6F6;
  box-shadow: 0px 3px 9px 0px rgba(126, 126, 126, 0.3);
  width: 80%;
  font-weight: bold;
}
.functioning__instruction div i {
  font-size: 20px;
  color: #7E7E7E;
  padding: 16px;
}
.functioning__instruction:hover div {
  background-color: #F5EDFF;
}
.functioning__instruction:hover div i {
  color: #9356DC;
}

#restaurants {
  background-color: #F6F6F6;
  padding: 32px 16px 48px 16px;
  max-width: 1024px;
  margin: auto;
}
#restaurants .card_restaurant {
  background: #fff;
  border-radius: 16px;
  box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.15);
  margin: 16px auto;
  /***Je n'arrive pas à faire un gradient***/
}
#restaurants .card_restaurant:hover {
  box-shadow: 3px 6px 8px 0px rgba(0, 0, 0, 0.3);
}
#restaurants .card_restaurant i:hover {
  color: #9356DC;
  font-weight: 600;
}
#restaurants .card_restaurant__image {
  position: relative;
}
#restaurants .card_restaurant__image img {
  border-radius: 16px 16px 0px 0px;
  height: 200px;
  object-fit: cover;
}
#restaurants .card_restaurant__image .new::after {
  content: "Nouveau";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 80px;
  background-color: #99E2D0;
  top: 13px;
  right: 13px;
  font-size: 14px;
  border-radius: 3px;
  color: #217460;
  font-weight: bold;
}
#restaurants .card_restaurant .card_restaurant__description {
  position: relative;
  margin-left: 15px;
  margin-bottom: 5px;
}
#restaurants .card_restaurant .card_restaurant__description h3 {
  margin-top: 10px;
  margin-bottom: 0px;
}
#restaurants .card_restaurant .card_restaurant__description p {
  margin-top: 10px;
  padding-bottom: 20px;
}
#restaurants .card_restaurant .card_restaurant__description .heart {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 25px;
  font-size: 24px;
}
#restaurants .card_restaurant .card_restaurant__description .heart:active {
  color: #9356DC;
  font-size: 600;
}

footer {
  padding: 0;
  background: #353535;
  display: flex;
  flex-flow: row wrap;
}
footer .footer_container {
  margin: 10px;
  padding: 10px;
}
footer h3 {
  font-family: "Shrikhand";
  font-weight: 100;
  margin: 0px;
}
footer a:hover {
  color: #99E2D0;
}
footer i:hover {
  color: #99E2D0;
}
footer ul {
  padding: 0;
  color: white;
}
footer a {
  color: white;
  line-height: 29px;
}
footer i {
  margin-right: 8px;
  width: 16px;
}

/*# sourceMappingURL=style.css.map */
