footer {
    padding: 0;
    background: $background-black;
    display: flex;
    flex-flow: row wrap;
    
        .footer_container {
            margin: 10px;
            padding: 10px;
            @include medium {
                @include footer_size;
            }
            @include large {
                @include footer_size;
            }

        }

        h3 {
            font-family: $font-title;
            font-weight: 100;
            margin: 0px;
            @include medium {
                font-size: 28px;
            }
            @include large {
                font-size: 30px;
            }
        }
        a:hover {
            color: $tertiary-color;
        }

        i:hover {
            color: $tertiary-color;
        }

        ul { 
            padding: 0;
            color: white;
            @include medium {
                @include footer_li;
            } 
            @include large {
                @include footer_li;
            }
        }

        a {
            color: white;
            line-height: 29px;
        }

        i {
             margin-right: 8px;
            width: 16px;
            @include large {
                font-size: 24px;
                padding-right: 25px;
            }
            }
}
