header {
    padding: 16px;
    position: relative; /* To show the boxshadow*/
    @include box--shadow("header");
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    
    .logo {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        
        img {
            object-fit: contain;
            width: 160px;
            @include medium {
            width: $logo-size;
            }

            @include large {
                width: $logo-size + 30px;
            }
        }
    }
}