
#restaurants {
    background-color: $background-light;
    padding: 32px 16px 48px 16px;
    max-width: 1024px;
    margin: auto;

    .card_restaurant {
        background: #fff;
        border-radius: 16px;
        @include box--shadow(light);
        margin: 16px auto;

        &:hover {
       @include box--shadow(dark);
        }

            /***Je n'arrive pas à faire un gradient***/

            i:hover {
                color: #9356DC;
                font-weight: 600;
                }
            
        &__image {
            position: relative;
                img {
                    border-radius: 16px 16px 0px 0px;
                    height: 200px;
                    object-fit: cover; 
                }
                .new::after {
                    content: "Nouveau";
                    @include position_button;
                    height: 30px;
                    width: 80px;
                    background-color: $tertiary-color;
                    
                    top: 13px;
                    right: 13px;
                    font-size: 14px;
                    border-radius: 3px;
                    color: darken($color: $tertiary-color, $amount: 45);
                    font-weight: bold;
                  }
        }

        .card_restaurant__description {
            position: relative;
            margin-left: 15px;
            margin-bottom: 5px;
            
            h3 {
                margin-top: 10px;
                margin-bottom: 0px;
            }

            p {
                margin-top: 10px;
                padding-bottom: 20px;
            }

            .heart { 
                @include position_button;
                top: 10px;
                right: 25px;
                font-size: 24px;
                    }

            .heart:active{
                color: #9356DC;
                font-size: 600;
            }

        }
    }

}

