#teaser {
    background: $background_light;
    padding: 16px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: $font_size;

    h1 {
        @include teaser_h1;
        font-size: 24px;
        font-weight: 900; 
    }

    p{
        @include teaser_text;
        font-size: 18px;
        margin-top: 0px;
        color: $font_tertiary;
    }
}
