.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0;
    width: 60%;
    height: 50px;
    border-radius: 25px;
    background: $secondary_color;
    background: $color_gradient;
    border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    @include box_shadow("light");
    
    @include medium {
      @include responsive_button;
    }

    @include large {
      @include responsive_button;
      width: 30%;
     
    }
    
    &:hover {
      /* Au survol, la couleur de fond des boutons principaux devra légèrement s’éclaircir.
  L’ombre portée devra également être plus visible.*/
      background: $gradient_clearer;
      @include box_shadow("dark");
      opacity: 0.7;
      transition: 1s;
    }
  }
  