form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: $background_dark;

        label{
            margin-left: 80px;
            color: $font_secondary;
            @include large {
                font-size: 20px;
            }
        }
        
        p{
            margin-top: 0px;
            margin-bottom: 0px;
        }

        input {
            @include form_police;
            padding: 16px;
            border: none;
            background: none;
            border: 2px solid transparent;
            @include large {
                font-size: 20px;
            }
        }

        ::placeholder {
           color: $font_secondary;
        }

        input:focus-visible, input:focus, input:hover {
            border-bottom: 2px solid $tertiary_color;
            outline: none;
        }
}