/***** MIXINS *******/

/* box shadow styles */
@mixin box--shadow($style) {
    @if ($style=="light") {
    box-shadow: 3px 6px 8px 0px rgba(0, 0, 0,0.15);
    }
    @else if ($style == "header") {
        box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
    }
    @else if ($style == "dark") {
        box-shadow: 3px 6px 8px 0px rgba(0, 0, 0,0.3);    
    }
}

/* police de form */
@mixin form_police {
    font-size: $font-size;
    color: $font-secondary;
    font-weight: bold;
}

/* police de teaser */
@mixin teaser_h1 {
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
}

@mixin teaser_text {
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
}

@mixin position_button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin heart {

    .heart { 
        font-size: 24px;
        margin-right: 25px;
        margin-top: 15px;
    }

}