/* fonts */
$font-title: "Shrikhand";
$font-text: "Roboto";
$font-size: 16px;
$font-primary: black;
$font-secondary: #353535;
$font-tertiary: #575757;

/*colors*/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$picto-color: #7E7E7E;
$background-light: #F6F6F6;
$background-dark: #EAEAEA;
$background-black: #353535;
$background-blue: #F5EDFF;
$color-gradient: linear-gradient(171deg, #FF79DA 0%, #9356DC 100%);
$gradient-clearer: linear-gradient(171deg, lighten($secondary-color, 5%) 0%,lighten($primary-color, 5%) 100%);

/* breakpoints */

$breakpoints: (
  medium: 768px,
  large: 992px,
);

$logo-size: 250px;

